#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#btn {
    margin-top: 5px;
    background-color: rgba(0, 128, 0, 0.589);
    padding: 3px 7px;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: small;
}
#btn span::after{
    content: "\00bb";
    transition: 0.5s ease;
   
    cursor: pointer;
}
#btn:hover span{
 padding-right: 10px;
}

#go {
    font-size: xx-large;
    font-weight: bold;
}

.name {
    font-size: medium;
}

#counter {

    position: relative;
    color: rgb(0, 162, 255);
    font-size: xx-large;
}

#counter span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: bottom-center;
    animation: in 1s ease;
   
}
#counter span.in{
    transform: translate(-50%,-50%) rotate(120deg);
    transform-origin: bottom center;
}
#counter span.out {
    animation: Out 0.5s ease-in-out;
  }

@keyframes in {
    0% {
        transform: translate(-50%, -50%)rotate(120deg);
    }

    30% {
        transform: translate(-50%, -50%)rotate(-20deg);
    }

    60% {
        transform: translate(-50%, -50%)rotate(10deg);
    }

    100% {
        transform: translate(-50%, -50%)rotate(0deg);
    }
}

@keyframes out {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    60% {
        transform: translate(-50%, -50%) rotate(20deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-120deg);
    }
}
